@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0070f3;
  --primary-600: #0051a8;
}

body {
  background-color: rgb(249 250 251);
}

.bg-primary {
  background-color: var(--primary);
}

.hover\:bg-primary-600:hover {
  background-color: var(--primary-600);
}

.text-primary {
  color: var(--primary);
}

.focus\:border-primary:focus {
  border-color: var(--primary);
}

.focus\:ring-primary:focus {
  --tw-ring-color: var(--primary);
}
