@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --primary-600: #1d4ed8;
  --primary-50: #eff6ff;
}

body {
  background-color: rgb(249 250 251);
}

.bg-primary {
  background-color: var(--primary);
}

.hover\:bg-primary-600:hover {
  background-color: var(--primary-600);
}

.text-primary {
  color: var(--primary);
}

.focus\:border-primary:focus {
  border-color: var(--primary);
}

.focus\:ring-primary:focus {
  --tw-ring-color: var(--primary);
}

.bg-primary-50 {
  background-color: var(--primary-50);
}
